:root {
    --primary-bg-color: #00000000;
    --secondary-bg-color: #080808;
    --highlight-color: #DD2E44;
    --text-color: #ffffff;
    --link-color: #fa1100;
    --link-hover-color: #f70909;
    --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    --border-radius: 10px;
    --input-border-color: #ccc;
    
}

body {
    background-color: var(--primary-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: var(--secondary-bg-color);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    text-align: center;
    padding: 20px;
    width: 90%;
    max-width: 500px;
}

.login-container h3,
.login-container label,
.login-container p {
    color: var(--text-color);
}

.login-container .logo {
    width: 70%;
    margin-bottom: 10px;
}

.login-container input[type="email"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    box-sizing: border-box;
}

.login-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;

    background-color: var(--highlight-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container a {
    color: var(--link-color);
}

.login-container a:hover {
    color: var(--link-hover-color);
}

@media (max-width: 768px) {
    .login-container {
        padding: 10px;
    }

    .login-container h3 {
        font-size: 1.5rem;
    }

    .login-container input[type="email"],
    .login-container input[type="password"] {
        padding: 5px;
    }

    .login-container input[type="submit"] {
        padding: 5px;
    }
}
.input {
    background-color: #212121;
    max-width: 190px;
    height: 40px;
    padding: 10px;
    /* text-align: center; */
    border: 2px solid rgb(68, 6, 6);
    border-radius: 5px;
    /* box-shadow: 3px 3px 2px rgb(249, 255, 85); */
  }
  
  .input:focus {
    color: rgb(255, 0, 0);
    background-color: #212121;
    outline-color: rgb(255, 0, 0);
    box-shadow: -3px -3px 15px rgb(255, 0, 0);
    transition: .1s;
    transition-property: box-shadow;
  }
